.icon {
    stroke: white;
    height: 1.3rem;
    width: 1.3rem;
    padding-top: .6rem;
    margin-left: 5rem;
}

.icon-sport {
    height: 1.5rem;
    width: 1.5rem;
    padding-top: .4rem;
    margin-right: 2rem;
}

.icon-other {
        margin-left: 0;
        padding-top: 0;

}